<head>
    <!-- JS & CSS -->
    <!-- <link rel="stylesheet" href="https://use.typekit.net/rcr1opg.css"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="/design/{{ .Site.Data.webpack_assets.app.js }}"></script>
    <link rel="stylesheet" type="text/css" href="/design/{{ .Site.Data.webpack_assets.app.css }}">

    <!-- META TAGS -->
    <title>{{ .Title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,minimum-scale=1">



    <!-- PWA -->
    <!-- <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/img/favicon.png" />
    <meta name="theme-color" content="#454e56"> -->

    <!-- <link rel="manifest" href="/manifest.json"> -->
    <!-- <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/sw.js');
            });
        }
    </script> -->
    <!-- Extras -->
    {{ block "scripts" . }}

    {{ end }}
</head>