/*
Button

Buttons are used for actions, like in forms, while textual hyperlinks are used for destinations, or moving from one page to another.

Markup:
<button class="btn {{modifier_class}}">Button</button>

:hover - Highlight the button when hovered.
.btn--primary - Primary Button
.btn--danger - Danger Button

Weight: 6

Styleguide Components.Buttons
*/
.btn {
	position: relative;
	display: inline-block;
	padding: 0.3125em 1em;
	font-size: var(--body-font-size);
	font-weight: $font-weight-semibold;
	line-height: 1.25;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	outline: none;
	user-select: none;
	border: 2px solid;
	border-radius: 0.375em;
	appearance: none; // Corrects inability to style clickable `input` types in iOS.
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
	&:disabled,
	&.disabled,
	&[aria-disabled="true"] {
		cursor: default;
	}
	i {
		font-style: normal;
		font-weight: $font-weight-semibold;
		opacity: 0.75;
	}
}

// Default button
.btn {
	color: var(--color-btn-text);
	background-color: var(--color-btn-bg);
	border-color: var(--color-btn-border);
	box-shadow: var(--color-btn-shadow), var(--color-btn-inset-shadow);
	transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	transition-property: color, background-color, border-color;

	&:hover,
	&.hover,
	[open] > & {
		background-color: var(--color-btn-hover-bg);
		border-color: var(--color-btn-hover-border);
		transition-duration: 0.1s;
	}

	&:active,
	&.selected,
	&[aria-selected="true"] {
		background-color: var(--color-btn-selected-bg);
		box-shadow: var(--color-shadow-inset);
		transition: none;
	}

	&:disabled,
	&.disabled,
	&[aria-disabled="true"] {
		color: var(--color-text-disabled);
		background-color: var(--color-btn-bg);
		border-color: var(--color-btn-border);
	}

	// Keep :focus after :disabled. Allows to see the focus ring even on disabled buttons
	&:focus,
	&.focus {
		border-color: var(--color-btn-focus-border);
		outline: none;
		box-shadow: var(--color-btn-focus-shadow);
	}
}

.btn--primary {
	color: var(--color-btn-primary-text);
	background-color: var(--color-btn-primary-bg);
	border-color: var(--color-btn-primary-border);
	box-shadow: var(--color-btn-primary-shadow),
		var(--color-btn-primary-inset-shadow);

	&:hover,
	&.hover,
	[open] > & {
		background-color: var(--color-btn-primary-hover-bg);
		border-color: var(--color-btn-primary-hover-border);
	}

	&:active,
	&.selected,
	&[aria-selected="true"] {
		background-color: var(--color-btn-primary-selected-bg);
		box-shadow: var(--color-btn-primary-selected-shadow);
	}

	&:disabled,
	&.disabled,
	&[aria-disabled="true"] {
		color: var(--color-btn-primary-disabled-text);
		background-color: var(--color-btn-primary-disabled-bg);
		border-color: var(--color-btn-primary-disabled-border);
	}

	&:focus,
	&.focus {
		background-color: var(--color-btn-primary-focus-bg);
		border-color: var(--color-btn-primary-focus-border);
		box-shadow: var(--color-btn-primary-focus-shadow);
	}
}

// Outline button
.btn--outline {
	color: var(--color-btn-outline-text);
	&:hover,
	[open] > & {
		color: var(--color-btn-outline-hover-text);
		background-color: var(--color-btn-outline-hover-bg);
		border-color: var(--color-btn-outline-hover-border);
		box-shadow: var(--color-btn-outline-hover-shadow),
			var(--color-btn-outline-hover-inset-shadow);
	}

	&:active,
	&.selected,
	&[aria-selected="true"] {
		color: var(--color-btn-outline-selected-text);
		background-color: var(--color-btn-outline-selected-bg);
		border-color: var(--color-btn-outline-selected-border);
		box-shadow: var(--color-btn-outline-selected-shadow);
	}

	&:disabled,
	&.disabled,
	&[aria-disabled="true"] {
		color: var(--color-btn-outline-disabled-text);
		background-color: var(--color-btn-outline-disabled-bg);
		border-color: var(--color-btn-border);
		box-shadow: none;
	}
	&:focus {
		border-color: var(--color-btn-outline-focus-border);
		box-shadow: var(--color-btn-outline-focus-shadow);
	}
}

// Danger button
.btn--danger {
	color: var(--color-btn-danger-text);
	&:hover,
	[open] > & {
		color: var(--color-btn-danger-hover-text);
		background-color: var(--color-btn-danger-hover-bg);
		border-color: var(--color-btn-danger-hover-border);
		box-shadow: var(--color-btn-danger-hover-shadow),
			var(--color-btn-danger-hover-inset-shadow);
	}

	&:active,
	&.selected,
	&[aria-selected="true"] {
		color: var(--color-btn-danger-selected-text);
		background-color: var(--color-btn-danger-selected-bg);
		border-color: var(--color-btn-danger-selected-border);
		box-shadow: var(--color-btn-danger-selected-shadow);
	}

	&:disabled,
	&.disabled,
	&[aria-disabled="true"] {
		color: var(--color-btn-danger-disabled-text);
		background-color: var(--color-btn-danger-disabled-bg);
		border-color: var(--color-btn-border);
		box-shadow: none;
	}
	&:focus {
		border-color: var(--color-btn-danger-focus-border);
		box-shadow: var(--color-btn-danger-focus-shadow);
	}
}
