// Fixed-width container variables
$container-width: 980px !default;
$grid-gutter: 10px !default;

// Breakpoint widths
// Small screen / phone
$width-phone: 544px !default;
// Medium screen / tablet
$width-tablet: 768px !default;
// Large screen / desktop (980 + (16 * 2)) <= container + gutters
$width-desktop: 1012px !default;
// Extra large screen / wide desktop
$width-widescreen: 1280px !default;

// Responsive container widths
$container-phone: $width-phone !default;
$container-tablet: $width-tablet !default;
$container-desktop: $width-desktop !default;
$container-widescreen: $width-widescreen !default;

// Breakpoints in the form (name: length)
$breakpoints: (
	phone: $width-phone,
	tablet: $width-tablet,
	desktop: $width-desktop,
	widescreen: $width-widescreen,
) !default;
